tr.hover-row:hover .on-out {
    display: none;
}

tr.hover-row .on-over {
    display: none;
}
tr.hover-row .on-out {
    padding-right: 13px;
}
tr.hover-row:hover .on-over {
    display: block;
}

tr.has-button {
    height: 65px;
}

tr.hover-row td .on-out {
    padding-top: 8px;
    padding-left: 12px;
}

